body {
    background: #fff !important;
}

.btn {
    width: 150px;
}
  
#page-toggle-editor {
    width: 250px;
}

.panel {
    padding: 20px;
}

h1, .panel .btn, .panel p, .quill, #css-textbox {
    margin-left: -15px;
}

.form-group p {
    margin-left: 0;
    margin-top: 15px;
}

.navbar, .footer {
    display: none;
}

.admin-panel {
    padding-top: 60px;
}

@media(min-width:800px) {
    .jumbotron {
        width: 50%;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media(max-width:800px) {
    body {
        background: #fff !important;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: -30px;
    width: 70%;
}

.form-group textarea {
    margin-left: -15px;
    width: 102% !important;
    border-radius: 0;
    min-height: 100.781px !important;
    border: 1px solid #ccc !important;
}

.ql-editor p {
    margin-top: 0;
    line-height: 2;
}

.link-button {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: underline;
}

#advanced-submit {
    width: 40% !important;
}