.btn {
    width: 150px;
}
  
#page-toggle-editor {
    width: 250px;
}

.panel {
    padding: 20px;
}

h1, .panel .btn, .panel p, .quill, #css-textbox {
    margin-left: -15px;
}

.form-group p {
    margin-left: 0;
    margin-top: 15px;
}

.navbar, .footer {
    display: none;
}

.admin-panel {
    padding-top: 60px;
}

.btn-primary {
    margin-left: -15px;
}

@media(min-width:800px) {
    .jumbotron {
        width: 50%;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media(max-width:800px) {
    body {
        background: #fff !important;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: -30px;
    width: 70%;
}