.jumbotron {
  background: #fff !important;
  margin-top: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #ccc !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
}

.errorbackend {
  margin-top: 30px;
}

.DraftEditor-root {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

footer {
  width: 100% !important;
  background-color: #fff !important;
  padding-left: 30px;
  padding-top: 2px;
}

h1 {
  padding-bottom: 30px;
}

#css-textbox, #page-editor-html {
  width: 100%;
  font-family: monospace;
}

#css-textbox {
  height: 600px;
}

#page-editor-html {
  min-height: 85px;
}